{% extends 'base.html.twig' %}

{% block body %}
    <h1>Featureflag</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ featureFlag.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ featureFlag.name }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if featureFlag.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Percentage</th>
                <td>{{ featureFlag.percentage }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('feauture-toggles_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('feauture-toggles_edit', { 'id': featureFlag.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
